/*Navbar style start*/
body {
    font-family: 'Poppins', sans-serif;
}
.mynavbar {
    background: #fdfcff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    border-radius: 40px;
    padding: 10px 30px;

}
.sign {
    background: rgba(0, 58, 128, 0.505);
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: #000020;
    padding: 6px 16px;
    border-radius: 12px;
    transition: all 0.6s ease;
    font-weight: 500;
}

.sign:hover {
    background-color: #2b6293;
    color: #fff;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
}

.dropdown-menu {
    background: rgba(255, 255, 255, 0.615) !important;
    backdrop-filter: blur(8px) !important;
    -webkit-backdrop-filter: blur(6px) !important;
    border-radius: 12px;
    border: 1px solid rgba(59, 60, 86, 0.3);
    padding: 8px;
}
 
.dropdown-item {
    transition: all 0.3s ease;
    border-radius: 8px;
    padding: 8px 16px;
}
 
.dropdown-item:hover {
    background: rgba(255, 255, 255, 0.3);
    color: #001042;
    box-shadow: 0 0 10px rgba(0, 15, 55, 0.3);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
}
.logo_gif{
    width: 30px;
}
.site-name {
    font-size: 17px;
    font-weight: 400;
    color: #000020;
    letter-spacing: 1px;
}
.ctrl{
    color: #2b6293;
}
.sign a{
    text-decoration: none;
    color: #ffffff;
}